

.content-welcome {
    flex: 1; /* Mengambil sisa ruang yang tersedia */
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
}

.welcome-text {
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.welcome-image {
    flex: 0 0 auto;
}

.content-welcome h2 {
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 20px;
}

.content-welcome li {
    margin-top: 10px;
    text-decoration: dotted;
}

.content-welcome img {
    max-width: 800px;
    height: auto;
    border-radius: 10px;

}

/*css form*/

    .form-kontak {
    width: 80%;
    text-align: center;
    margin-left: 270px;
    }
  
  
    .form-kontak p {
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bolder;
    }
  
    input, textarea { 
    outline: none;
    }
  
    .form-kontak {
  
    width: 75%;
    border-radius: 30px;
    background: #D8CFBC30;
    }
   
    .form-inner {
    padding: 40px;
    }
    .form-inner input,
    .form-inner textarea {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background: #dfdedd;
    }
    .form-inner textarea {
    resize: none;
    }

    .form-inner button {
        cursor: pointer;
        width: 100%;
        height: 100%;
        background-color: #dfdedd;
        border: none;
        color: black;
        font-weight: bold;
        padding: 10px 15px;
        border-radius: 8px;
        transition: background 1s;
        margin-bottom: 15px;
    }
    
    .form-inner button:hover {
        box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
    }

